<a href="https://colab.research.google.com/github/gabrielacmr/Exerc-cio/blob/main/Copy_of_Exercicio_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Para entender melhor os objetos DataFrame, é útil saber que eles consistem em três componentes, armazenados como atributos:

- .values: Uma matriz bidimensional de valores.
- .columns: Um índice de colunas: os nomes das colunas.
- .index: Um índice para as linhas: números de linha ou nomes de linha.

##### Exercício 1 - Importe o dataset walmart_vendas.csv e salve com o nome vendas

In [ ]:
import pandas as pd

##### Exercício 2 - Imprima as primeiras e as últimas linhas desse dataset

##### Exercício 3 - Elimine a coluna " Unnamed: 0"

**Exercício 4 -Imprima os valores desse dataframe**

**Exercício 5 - Imprima as colunas desse dataframe**

**Exercício 6 - Imprima as linhas desse dataframe**

**Exercício 7  - Crie um novo dataframe classificando-o em ordem crescente pela coluna *weekly_sales***

**Exercício 8  - Veja as primeiras linhas desse novo dataframe:**

**Exercício 9 - Ordene o dataframe original pela coluna *temperature_c* em ordem decrescente e imprima as primeiras linhas**

**Exercício 10 -Selecione somente a  coluna *unemployment* salve com o nome subdf e veja as primeiras linhas**

**Exercício 11 -  Filtre por linhas os valores de weekly_sales forem maiores que 20000 e chame de weekly_sales_20k e imprima as primeiras linhas**